.dialog {

}

.dialog a{
    display: flex;
    margin-right: auto;
    margin-top: 9px;
    padding: 9px 25px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.dialog a:hover{
    background-color: #eeeeee;
}
.dialog img{
    margin-right: 10px;
    height: 60px;
    width: 60px;
}
.dialog a>div:nth-child(2){
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.activeLink {
    opacity: 0.6;
   background-color: #98c2d2;
}

